#brand {
  font-size: 2rem;
  margin-left: 1rem;
}

#brand span {
  font-size: 1rem;
}

#signin-form {
  max-width: 320px;
  margin: auto;
}

a {
  text-decoration: none;
}

#sign-out {
  margin-right: 2rem;
  color: white;
}
#sign-out:hover {
  color: lightgrey;
}

#registerModal {
  padding: 1rem;
}

#user-info {
  margin-left: 1rem;
  margin-top: .5rem;
  font-weight: 500;
}

#user-info p {
  margin-bottom: 3px;
}

svg path {
  fill: white;
}